.post_main {
    margin-top: 130px;
    margin-left:200px;
    margin-right:200px;
    padding-bottom: 200px;
    background-color: white;
    position: relative;
    display:flex;
}

.post_0 {
    width: 100%;
    background-color: white;
}


h1{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 20px;
}

.small_title{
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: black;

}

table{
    margin-top: 10%;
    width: 90%;
    border-collapse: collapse;
    line-height: 24px;
    dispaly:flex;
    align-items: center;
    margin-left: 5%;
}

table td,th {
    border-top:1px solid black;
    border-bottom:1px solid black;
    text-align: center;
    padding: 10px;
}

th {
    background: rgb(221, 221, 221);
    width: 100px;
}

td{
    width: 550px;
}

.click_button{
    margin-right: 5%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20%;
}

button{
    background-color: #babab9;
    width: 100px;
    height: 40px;
}
/*//////////////////////////////////////////////////////////*/

@media(max-width: 959px){
    .post_main {
        margin-top: 30px;
        margin-left:50px;
        margin-right:50px;
        padding-bottom: 40px;
        background-color: white;
        position: relative;
    }

    h1{
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    td{
        width: 400px;
    }
}
