@font-face {
    font-family: notoBold;
    src: url('../Font/NotoSansKR-Bold.otf');
}
@font-face {
    font-family: notoMedium;
    src: url('../Font/NotoSansKR-Medium.otf');
}
@font-face {
    font-family: notoRegular;
    src: url('../Font/NotoSansKR-Regular.otf');
}

* {
    margin: 0;
}

input {
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #bfbfbf;
    box-sizing: border-box;
    font-family: notoRegular;
    font-weight: 300;
    font-size: 14px;
}

main {
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    position: absolute;
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 20px;
}

.MuiSvgIcon-fontSizeSmall {
    width: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-head {
    display: flex;
}
.login-center {
    display: flex;
    margin: 20px 0;
}

.login-center h3 {
    font-size: 14px;
    font-family: notoMedium;
}

.login-head h1{
    font-size: 25px;
    font-family: notoBold;
}

.login-head h4 {
    font-size: 15px;
    font-family: notoMedium;
}
